<%= form_for(@shortenedurl) do |f| %>
  <% if @shortenedurl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shortenedurl.errors.count, "error") %> prohibited this shortenedurl from being saved:</h2>

      <ul>
      <% @shortenedurl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shorturl %><br>
    <%= f.text_field :shorturl %>
  </div>
  <div class="field">
    <%= f.label :hits %><br>
    <%= f.number_field :hits %>
  </div>
  <div class="field">
    <%= f.label :ipaddress %><br>
    <%= f.text_field :ipaddress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
