<h1>Listing shortenedurls</h1>

<table>
  <thead>
    <tr>
      <th>Shorturl</th>
      <th>Hits</th>
      <th>Ipaddress</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shortenedurls.each do |shortenedurl| %>
      <tr>
        <td><%= shortenedurl.shorturl %></td>
        <td><%= shortenedurl.hits %></td>
        <td><%= shortenedurl.ipaddress %></td>
        <td><%= link_to 'Show', shortenedurl %></td>
        <td><%= link_to 'Edit', edit_shortenedurl_path(shortenedurl) %></td>
        <td><%= link_to 'Destroy', shortenedurl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortenedurl', new_shortenedurl_path %>
